@{
  Layout = "_Layout";
}

<h1>Welcome to Zardoz's handy dandy Word Counter!</h1>

<h2><a href="/counter/new">Click here to find out how many times a word appears in a sentence!</a></h2>

<img id="sean" src="~/img/connery.png" alt="The gun is good.">
