@{
  Layout = "_Layout";
}

<h1><center>Welcome to Zardoz's handy dandy Word Counter!<center></h1>

<h2><center><a href="/counter/new">Click here to find out how many times a word appears in a sentence!</a></center></h2>
