@using WordCounter.Models;

@{
  Layout = "_Layout";
}

<h1>You receieve Zardoz's blessing in the form of a word count!</h1>

<h2>The word "@Model.UserWord" appears @Model.WordMatches time(s) in the sentences:</h2>
<h3><em>@Model.UserSentence</em></h3>

<h4><a href="/counter/new">Want to go again?</a></h4>
