@using WordCounter.Models;


<center><h3>Here is your word count!</h3></center>

<center><h1>The word @Model.UserWord appears @Model.WordMatches times in your sentence:</h1></center>
<center><h3>@Model.UserSentence</h3></center>

<h2><a href="/counter/new">Want to go again!</a></h2>
