@using WordCounter.Models;


<h3>Here is your word count!</h3>

<h1>The word @Model.GetWord() appears @Model.GetMatches() times in your sentence:</h1>
<h3>@Model.GetSentence()</h3>

<h2><a href="/counter/new">Let's do it again!</a></h2>
