@using WordCounter.Models;

@{
Layout = "_Layout";
}

<h1>Feed Zardoz your human vocabulary to count some words!</h1>
<h2>Enter a word and a sentence and Zardoz will tell you how many times the word appears in the sentence!</h2>

<form action="/counter" method="post">
  <label for="userWord">Feed me a word!</label>
  <input id="userWord" name="userWord" type="text">

  <label for="userSentence">Feed me a sentence!</label>
  <input id="userSentence" name="userSentence" type="text">

  <button type="submit">Submit</button>
</form>
