<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
  </head>
  <body>
    <center>
      <h1>Let's count some words!</h1>
      <h2>Enter a word and a sentence and I'll tell you how many time the word appears in the sentence!</h2>
    </center>

    <form action="/counter" method="post">

      <label for="userWord">Give me a word!</label>
      <input id="userWord" name="userWord" type="text">

      <label for="userSentence">Enter a sentence!</label>
      <input id="userSentence" name="userSentence" type="text">

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
